.recommended-friends {
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 10px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 12px;
  color: var(--gray);
}

.recommended-friends span {
  margin: 80px 0px;
  color: var(--gray);
  display: block;
  text-align: center;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: var(--gray);
  margin-bottom: 15px;
}

.open-chat__header span {
  display: flex;
  align-items: center;
}

.open-post {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 5px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 14px;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__members-count {
  opacity: 0.5;
  font-size: 13px;
}

.open-post__members .divider {
  width: 1px;
  height: 13px;
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.open-post__members-status {
  color: hotpink;
  font-size: 14px;
}

.open-post__photo img {
  width: 90px;
  height: 90px;
  border-radius: 5px;
}

.open-post__photo {
  position: relative;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 5px 8px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 7px;
  right: 7px;
  font-size: 10px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
